@import components/mixins

*
    margin: 0
    box-sizing: border-box
    text-decoration: none
    scroll-behavior: smooth

html 
    font-size: 0.8px
    +media(960)
        font-size: 1px

.body-mobile
    overflow: hidden


ul
    padding: 0
    list-style: none

.flex
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
header
    background-image: url("../img/header-bg.png")
    background-size: cover
    background-position: center
    color: #ffffff

.header-content
    padding: 25px 15px
    justify-content: space-around
    +media(433)
        justify-content: space-between
    gap: 10px
    +media(971)
        padding: 50rem

.logo
    flex-wrap: nowrap

.logo h1
    font-size: 30rem
    margin-left: 15px
    letter-spacing: 6px
    color: #ffffff
    font-weight: 500
    font-family: "Maven Pro"

.hamburger
    display: block
    margin-top: 15px
    width: 30px
    height: 20px
    cursor: pointer
    z-index: 10
    +media(960)
        display: none
    span
        position: relative
        display: inline-block
        width: 100%
        height: 3px
        background-color: #ffffff
        &::before
            content: ""
            display: inline-block
            width: 100%
            height: 3px
            top: -8px
            background-color: #ffffff
            position: absolute
        &::after
            content: ""
            display: inline-block
            width: 100%
            height: 3px
            top: 8px
            background-color: #ffffff
            position: absolute
        
.hamburgerOpen 
   position: absolute
   top: 25px
   right: 15px
   +media(971)
        top: 50rem
        right: 50rem

.hamburgerOpen span:before 
   transform: rotate(45deg)
   top: 0


.hamburgerOpen span:after
   transform: rotate(-45deg)
   top: 0


.hamburgerOpen span 
   background-color: transparent


.ul-menu
    display: none
    align-items: center
    gap: 30px
    +media(960)
        display: inline-flex

.nav-menu
    gap: 30px
        
.ul-menu a
    font-size: 16rem
    color: #ffffff
    font-weight: 400
    font-family: "Maven Pro"

.textTopOpen 
    position: absolute
    width: 100%
    height: 100vh
    top: 0px
    left: 0
    padding: 15px
    background-color: rgba(96, 66, 216, 0.95)
    display: block
    
    z-index: 9
    a
        font-size: 50rem
        line-height: 1.8em

.btn
    font-size: 12rem
    letter-spacing: 1px
    line-height: 32px
    text-transform: uppercase
    color: #ffffff
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center
    padding: 8px 31px
    border-radius: 25px    
    border: 1px solid #ffffff
    +media(960)
        justify-content: center

.header-sekt
    padding: 7vw 15px 5vw
    text-align: center
    h2
        font-size: 70rem
        margin-bottom: 25px
        letter-spacing: -3px
        color: #ffffff
        font-weight: 400
        line-height: 79px
        font-family: "Maven Pro"
        text-align: center
        +media(380)
            font-size: 86rem

.social
    position: relative
    display: inline-block
    margin-bottom: 25px
    font-size: 14rem
    letter-spacing: 1px
    text-transform: uppercase
    color: #ffffff
    text-align: center
    font-weight: 400
    font-family: "Maven Pro"

.social::before,
.social::after
    content: ""
    position: absolute
    top: 50%
    display: block
    width: 25px
    height: 1px
    background-color: #ffffff

.social::before
    left: -35px

.social::after
    right: -35px

.lorem
    font-size: 16rem
    color: #ffffff
    line-height: 30px
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center

.arrow-button
    display: inline-block
    padding: 27px
    margin-top: 13vw
    border-radius: 32px
    background-color: #ffffff
    border: none

.arrow
    position: relative
    display: inline-block
    width: 10px
    height: 10px
    border-top: 2px solid #9fa4af
    border-right: 2px solid #9fa4af
    transform: rotate(135deg)  

.arrow:before
    content: ""
    position: absolute
    width: 2px
    height: 14px
    top: -2.3px
    right: 4px
    background-color: #9fa4af
    transform: rotate(45deg)

.arrow-button:hover
    background-color: #6e45e2
    cursor: pointer
    transition: 0.3s ease
    .arrow
        border-color: #ffffff
        transition: 0.3s ease
        &:before
            background-color: #ffffff
            transition: 0.3s ease

.plans, .data
    padding: 0 15px

.select
    padding-top: 50px
    text-align: center

.text-pl
    font-size: 14rem
    letter-spacing: 1px
    text-transform: uppercase
    color: #9fa4af
    font-weight: 400
    font-family: "Maven Pro"

.select h2
    font-size: 60rem
    letter-spacing: -2px
    color: #4f4f6f
    font-weight: 400
    font-family: "Maven Pro"

.s-lorem 
    margin: 0 auto
    max-width: 380px
    font-size: 16rem
    line-height: 28px
    color: #9fa4af
    font-weight: 400
    font-family: "Maven Pro"

.cards
    display: flex
    justify-content: center
    flex-wrap: wrap
    align-items: center
    padding: 100rem 15px
    text-align: center
    gap: 30px

.figure 
    max-width: 440px
    padding: 60rem 20rem
    +media(440)
        padding: 60rem 72rem
    border-radius: 30px
    background-color: #ffffff
    border: 1px solid #d7dbe8
    transition: 0.3s ease
    cursor: pointer
    picture
        display: inline-block
        height: 110px
    &:hover
        filter: drop-shadow(0 0 46px rgba(204,204,223,0.71))
        border-color: white
        

.pers
    margin-top: 50px
    font-size: 14rem
    letter-spacing: 1px
    line-height: 32px
    text-transform: uppercase
    color: #9fa4af
    font-weight: 400
    font-family: "Maven Pro"

.card-price
    font-size: 60rem
    letter-spacing: -2px
    line-height: 72px
    color: #4f4f6f
    font-weight: 500
    font-family: "Maven Pro"
    text-align: center

    .month
        font-size: 20rem

    .price
        position: relative
        
    .sup
        position: absolute
        top: -12px
        right: 100%
        font-size: 20rem

.card-description
    min-height: 112rem
    margin-top: 25px
    margin-bottom: 60px
    font-size: 16rem
    line-height: 28px
    color: #9fa4af
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center

.btn-card
    display: inline-block
    min-width: 190rem
    font-size: 12rem
    letter-spacing: 1px
    text-transform: uppercase
    color: #c2c9db
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center
    padding: 17px
    border-radius: 25px
    filter: drop-shadow(0 0 10.5px rgba(204,204,223,0.5))
    background-color: #ffffff
    border: 1px solid #d7dbe8
    transition: 0.3s ease
    &:hover
        color: #ffffff
        background-color: #6e45e2

.data
    background-image: url("../img/background.png")
    background-size: cover
    background-position: center
    text-align: center
    padding: 180rem 15px
    .social1
        display: inline-block
        font-size: 14rem
        letter-spacing: 1px
        text-transform: uppercase
        color: #ffffff
        text-align: center
        font-weight: 400
        font-family: "Maven Pro"
    h2 
        font-size: 55rem
        +media(380)
            font-size: 60rem
        letter-spacing: -2px
        margin: 15px 0
        line-height: 72px
        color: #ffffff
        font-weight: 400
        font-family: "Maven Pro"

.buttons
    display: flex
    justify-content: center
    gap: 10px
    flex-wrap: wrap


.get 
    display: inline-block
    border-radius: 25px
    min-width: 190rem
    padding: 15px
    filter: drop-shadow(0 0 10.5px rgba(204,204,223,0.5))
    background-color: #ffffff
    border: 1px solid #d7dbe8
    font-size: 12px
    letter-spacing: 1px
    text-transform: uppercase
    color: #c2c9db
    font-weight: 400
    font-family: "Maven Pro"
    cursor: pointer
    transition: 0.3s ease
    &:hover
        color: #ffffff
        background-color: #6e45e2
        border: 1px solid #6e45e2

.wrapper
    padding: 50rem 50rem 25rem 50rem

.footer-content
    padding-bottom: 30px
    color: #37374a
    justify-content: center
    gap: 20px
    +media(432)
        justify-content: space-between
        gap: 10px
    h2
        font-size: 30rem
        margin-left: 15px
        letter-spacing: 6px
        color: #37374a
        font-weight: 500
        font-family: "Maven Pro"
    .nav-link
        color: #37374a
        &:hover
            color: #6e45e2
    .btn
        background-color: #6e45e2
        border: 1px solid #6e45e2
        transition: 0.3s ease
        &:hover
            background-color: #ffffff
            color: #6e45e2

hr
    opacity: 0.200

.copyright
    padding-top: 30px
    justify-content: center
    gap: 10px
    +media(660)
        justify-content: space-between
    .copy
        opacity: 0.502
        font-size: 14px
        line-height: 19px
        color: #6a6a77
        font-weight: 400
        font-family: "Maven Pro"
    .footer-svgs
        display: flex
        gap: 20px
        a
            cursor: pointer


@media screen and (max-width: 960px)
    footer
        justify-content: center
        .btn
            text-align: center

    .logo
        justify-content: center
        text-align: center
    
            

